<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToneAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITonalAnalysisService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/TonalService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITonalAnalysisService"
                contract="RemoteTonalService.ITonalAnalysisService" name="BasicHttpBinding_ITonalAnalysisService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ToneAnalyzer.Properties.Settings>
            <setting name="AngerIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisgustIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FearIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JoyIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SadnessIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnalyticalIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfidentIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TentativeIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpennessIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConscientiousnessIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraversionIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AgreeablenessIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmotionalRangeIncluded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AngerAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisgustAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FearAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoyAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SadnessAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalyticalAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfidentAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TentativeAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpennessAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConscientiousnessAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraversionAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AgreeablenessAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmotionalRangeAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AngerThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="DisgustThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="FearThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="JoyThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="SadnessThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="AnalyticalThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="ConfidentThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="TentativeThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="OpennessThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="ConscientiousnessThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="ExtraversionThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="AgreeablenessThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="EmotionalRangeThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
        </ToneAnalyzer.Properties.Settings>
    </userSettings>
</configuration>